<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Sistema Simples De Comentarios </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <header class="alinhamento">
        Sistema De Comentarios
    </header>
    <main class="alinhamento">
        <div id="app"></div>
    </main>
    <footer>
        <span>
            Copyright 2020 | Todos os Direitos Reservados | Desenvolvido por:   <a href="mailto:aprsilva@gmail.com"> Ingrid </a>
        </span>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // instanciando o vue
        new Vue({
            // componente que diz onde o html será criado 
            el: '#app',
            template: `
                    <div class="container">
                    <h1> Comentarios </h1>
                    <hr />
                    <div class="form-todo form-group">
                        <p>
                            <input type="text" placeholder="Nome" name="author" class="form-control" v-model="name">
                        </p>
                        <p>
                            <textarea type="text" placeholder="Comentario" name="message" class="form-control" v-model="message"></textarea>
                        </p>
                        <button v-on:click="addComment" type="submit" class="btn btn-primary"> Comentar </button>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item" v-for="(comment, index) in allComments">
                            <span class="comment_author">Autor: <strong>{{ comment.name }}</strong></span>
                            <p> {{ comment.message }} </p>
                            <div>
                                <a href="#" title="Excluir" v-on:click.prevent="removeComment(index)"> Excluir </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            `,
            // funcao que é a propriedade de um objeto retorna um objeto
            data() {
                return {
                    comments: [],
                    name: '',
                    message: ''
                }
            },
            // propriedade onde será criada todos os methodos para o template
            methods: {
                addComment() {
                    // validando os campos de texto 
                    if (this.message.trim() == '') {
                        return;
                    }
                    // adicionando oque foi comentado no array de comentarios
                    this.comments.push({
                        name: this.name,
                        message: this.message
                    });
                    // apagando os valores das caixas de texto
                    this.name = '';
                    this.message = '';

                },
                //removendo comentario do array de comentario
                removeComment(index) {
                    this.comments.splice(index, 1);
                }
            },
            // propriedade que disponibiliza variaveis para ser utilizada no template
            computed: {
                // funcao que retorna um valor para nome de comentario vazio
                allComments() {
                    return this.comments.map(comment => ({
                        ...comment,
                        // if ternario para validar
                        name: comment.name.trim() === '' ? 'Anônimo' : comment.name
                    }))
                }
            },
            // essa propriedade monitora alterações em qualquer propriedade
            watch: {
                Comments(val) {
                    console.log('val', val);
                }
            }

        })
    </script>
</body>

</html>